<button nz-button nzType="primary" nzShape="circle"><span nz-icon nzType="search"></span></button>
<button nz-button nzType="primary" nzShape="circle">A</button>
<button nz-button nzType="primary">
  <span nz-icon nzType="search"></span>
  Search
</button>
<button nz-button nzType="default" nzShape="circle"><span nz-icon nzType="search"></span></button>
<button nz-button nzType="default">
  <span nz-icon nzType="search"></span>
  Search
</button>
<br />
<button nz-button nzType="default" nzShape="circle"><span nz-icon nzType="search"></span></button>
<button nz-button nzType="default">
  <span nz-icon nzType="search"></span>
  Search
</button>
<button nz-button nzType="dashed" nzShape="circle"><span nz-icon nzType="search"></span></button>
<button nz-button nzType="dashed">
  <span nz-icon nzType="search"></span>
  Search
</button>


<!-- <p>component1 works!</p>
{{clientes}}
@for (cliente of clientes; track cliente.id) {
    @if (cliente.edad!>30){
        <p > {{cliente.id}} {{cliente.apellido}} {{cliente.nombre}} works!</p>
    }@else{
        {{cliente.apellido}} el papu esta muerto!.
    }
}@empty {
    Empty list of users
  }


  @for (cliente of clientes; track cliente.id) {
    @if (cliente.edad!>30){
        <p > {{cliente.id}} {{cliente.apellido}} {{cliente.nombre}} works!</p>
    }@else{
        {{cliente.apellido}} el papu esta muerto!.
    }
}@empty {
    Empty list of users
  }
 -->




  @for (cliente of clientes; track cliente.id) {
    @if (cliente.edad!>30){
        <p > {{cliente.id}} {{cliente.apellido}} {{cliente.nombre}} works!</p>
    }@else{
        {{cliente.apellido}} el papu esta muerto!.
    }
}@empty {
    Empty list of users
  }





  @for (cliente of clientes; track cliente.id) {
    @if (cliente.edad!>30){
        <p > {{cliente.id}} {{cliente.apellido}} {{cliente.nombre}} works!</p>
    }@else{
        {{cliente.apellido}} el papu esta muerto!.
    }
}@empty {
    Empty list of users
  }







  @for (cliente of clientes; track cliente.id) {
    @if (cliente.edad!>30){
        <p > {{cliente.id}} {{cliente.apellido}} {{cliente.nombre}} works!</p>
    }@else{
        {{cliente.apellido}} el papu esta muerto!.
    }
}@empty {
    Empty list of users
  }





















<!-- IF:<br>
@if (clientes.length<0) {
    <p>component2 works!</p>
} @else{
    <p>component3 works!</p>
}
FOR:<br> -->