


<nz-layout class="layout">

  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="ejemplos/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="ejemplos/component">Component1</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>